body{
  background-color: #c9c6c6;
}

.header{
  text-align: center;
}

.footer{
  text-align: center;
}

.overflow{
    overflow: hidden;
}

.slider{
  width:100%;
  color: rgb(189, 122, 35);
}

.div_sliders{
  background-color: #334257;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}
  
span, p{
    color: white;
    text-align: left;
}

.div_radios{
  background-color: #334257;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  overflow: hidden;
}

.custom-radios {
  div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    /*border: 1px solid red;*/
  }
  
  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: table-cell;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
        aspect-ratio: 1/1;

        img {
          height: 50%;
          margin: auto;
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

    &:checked + label span img {
      opacity: 1;
    }
  }
}

.div_botoes{
  background-color: #0647a2;
  border-radius: 20px;
}