body{
  background-color: #c9c6c6;
}

.header{
  text-align: center;
}

.footer{
  text-align: center;
}

.overflow{
  overflow: hidden;
}

.slider{
  width:100%;
  color: rgb(189, 122, 35);
}

.div_sliders{
  background-color: #334257;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}
  
span, p{
    color: white;
    text-align: left;
}

.div_radios{
  background-color: #334257;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  overflow: hidden;
  margin: auto;
  height: 100%;
}

.custom-radios {
  div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    /*border: 1px solid red;*/
  }
  
  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: table-cell;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
        aspect-ratio: 1/1;

        img {
          height: 50%;
          margin: auto;
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

    &:checked + label span img {
      opacity: 1;
    }
  }
}

.div_cmd{
  background-color: #334257;
  border-radius: 20px;
  height: 100%;
}

.center{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.h100{
  height: 100%;
}

.border{
  border: 2px solid black;
}

.div_slider_v{
  border: solid 1px purple;
   /*rotate: 90deg;*/
}

.slider_v{
  writing-mode: vertical-lr;
  direction: rtl;
}

.div_botoes{
  border: solid 1px red;
  height: 100%;
}

button{
  height: fit-content;
  width: 80px;
}

label{
  color: white;
}

@media (max-width: 767px) {
  .bg-responsive {
    background-color: green; /* Verde para md */
  }
}

@media (min-width: 768px) {
  .bg-responsive {
    background-color: orange; /* Azul para lg */
  }

@media (min-width: 992px) {
  .bg-responsive {
    background-color: red; /* Azul para lg */
  }